In [21]:
from docx import Document
import pandas as pd
import numpy as np

In [155]:
document = Document(r"C:\DTU\Data\201911_StudentsFatigue\FlankerTest_Marie\t2.docx")

tables = document.tables

TextDisplayList, CongruencyList, ResponseList, RTList = list(), list(), list(), list()

flagList = 0

for table in tables:
    for row in table.rows:
        for cell in row.cells:
            for paragraph in cell.paragraphs:
                #print(flagList, paragraph.text)
                if flagList == 0:
                    TextDisplayList.append(paragraph.text)
                elif flagList == 1:
                    CongruencyList.append(paragraph.text)
                elif flagList == 2:
                    ResponseList.append(paragraph.text)
                else:
                    RTList.append(float(paragraph.text))
            flagList = flagList + 1
            if flagList == 4:
                flagList = 0

In [156]:
df = pd.DataFrame(list(zip(TextDisplayList, CongruencyList, ResponseList, RTList)), columns=['TextDisplay', 'Congruency', 'Response', 'ReactionTime'])

In [157]:


print(np.mean(df.ReactionTime))
print(np.std(df.ReactionTime))

591.5
105.26207373345191

In [158]:

print(np.mean(df.ReactionTime[df.Congruency=='1']))
print(np.mean(df.ReactionTime[df.Congruency=='0']))

582.9375
600.0625

In [159]:

print(np.std(df.ReactionTime[df.Congruency=='1']))
print(np.std(df.ReactionTime[df.Congruency=='0']))

108.53751391608034
101.15919925419537

In [160]:

print(len(df.Response[df.Congruency=='1']))
df.Response[df.Congruency=='1']

48

0     1
1     1
3     1
4     1
6     2
10    1
12    1
13    1
17    1
19    1
20    1
21    1
22    1
24    1
27    1
29    2
32    1
36    1
39    1
40    1
42    1
43    2
44    1
45    1
52    1
53    1
54    1
55    1
59    1
61    1
62    1
63    1
64    1
66    1
68    1
69    1
75    1
77    1
78    1
79    1
80    1
81    1
83    1
85    1
86    1
88    1
89    1
91    1
Name: Response, dtype: object

In [161]:


print(len(df.Response[df.Congruency=='0']))
df.Response[df.Congruency=='0']

48

2     1
5     1
7     1
8     1
9     1
11    1
14    2
15    1
16    1
18    1
23    1
25    1
26    1
28    1
30    1
31    1
33    1
34    1
35    1
37    1
38    1
41    1
46    1
47    1
48    1
49    1
50    1
51    1
56    1
57    1
58    1
60    1
65    1
67    1
70    1
71    1
72    1
73    1
74    1
76    1
82    1
84    1
87    1
90    1
92    1
93    1
94    1
95    1
Name: Response, dtype: object

In [107]:
df

   TextDisplay Congruency Response  ReactionTime
0        VVCVV          0        1        1358.0
1        VVBVV          1        1         642.0
2        XXCXX          1        1         556.0
3        CCCCC          1        1         521.0
4        XXCXX          1        1         440.0
5        XXXXX          1        1         522.0
6        VVXVV          0        1         478.0
7        VVVVV          1        1         634.0
8        BBCBB          0        1         634.0
9        VVXVV          0        1         546.0
10       XXVXX          0        1         564.0
11       BBXBB          0        1         607.0
12       CCBCC          0        1         557.0
13       BBVBB          1        1         634.0
14       VVXVV          0        1         584.0
15       VVXVV          0        1         568.0
16       XXVXX          0        1         523.0
17       BBVBB          1        1         574.0
18       BBVBB          1        1         445.0
19       BBBBB          1        2         550.0
20       CCBCC          0        1         868.0
21       XXXXX          1        1         585.0
22       BBCBB          0        1         791.0
23       XXVXX          0        1         493.0
24       BBXBB          0        1         660.0
25       BBCBB          0        1         748.0
26       VVCVV          0        1         658.0
27       XXCXX          1        1         459.0
28       VVCVV          0        1         423.0
29       XXVXX          0        1         628.0
30       BBXBB          0        1         509.0
31       VVVVV          1        1         553.0
32       BBVBB          1        1         623.0
33       BBVBB          1        1         573.0
34       XXBXX          0        1         599.0
35       CCCCC          1        1         604.0
36       BBVBB          1        1         537.0
37       CCBCC          0        1         576.0
38       BBVBB          1        1         585.0
39       VVCVV          0        1         614.0
40       XXVXX          0        1         623.0
41       CCBCC          0        1         593.0
42       CCVCC          0        1         493.0
43       XXVXX          0        1         610.0
44       VVXVV          0        1         622.0
45       CCBCC          0        1         623.0
46       VVXVV          0        1         656.0
47       BBVBB          1        1         533.0